<div class="universalForm">
    <div class="container">
        <div class="itemA">
            <label for="userName">Käyttäjätunnus: </label>
        </div>
        <div class="itemB">
            <input type="text" class="form-control" id="kayttaja_tunnus" name="kayttaja_tunnus"
                placeholder="Käyttäjätunnus" value="{{user.kayttaja_tunnus}}" />
        </div>
        <div class="itemA">
            <label for="email">Sähköposti: </label>
        </div>
        <div class="itemB">
            <input type="email" class="form-control" id="kayttaja_sahkoposti" name="kayttaja_sahkoposti"
                placeholder="Sähköposti" value="{{user.kayttaja_sahkoposti}}" />
        </div>
        <div class="itemA">
            <label for="email">Salasana: </label>
        </div>
        <div class="itemB">
            <input type="password" name="kayttaja_salasana" id="kayttaja_salasana" class="form-control"
                    placeholder="Salasana" required/>
        </div>
        <div class="itemA">
            <label for="email">Salasana: </label>
        </div>
        <div class="itemB">
            <input type="password" name="kayttaja_salasana_varmistus" id="kayttaja_salasana_varmistus"
                    class="form-control" placeholder="Salasana uudelleen" required/>
        </div>
        
    </div>
    <div class="editUserButton">
            <button type="submit" class="button">Tallenna</button>
            <button type="button" onclick="window.location.href='/'">Peruuta</button>
        </div> 
</div>